services:
    mariadb:
        build: requirements/mariadb
        volumes:
            - mariadb:/var/lib/mysql
        networks:
            - inception
        env_file:
            - .env
    
    wordpress:
        build: requirements/wordpress
        volumes:
            - wordpress:/var/www/html
        networks:
            - inception
        env_file:
            - .env
    
    nginx:
        build: requirements/nginx
        ports:
            - "443:443"
        volumes:
            - wordpress:/var/www/html
        networks:
            - inception
        env_file:
            - .env

networks:
    inception:
        driver: bridge

volumes:
    mariadb:
        driver: local
        driver_opts:
            type: none
            device: /home/${USER}/data/mariadb
            o: bind
    wordpress:
        driver: local
        driver_opts:
            type: none
            device: /home/${USER}/data/wordpress
            o: bind
